  <div class="album py-5 bg-light">
    <div class="container">
    	<h1>Portfolio Items</h1>
    	<% if logged_in?(:site_admin) %>
    		<%= link_to "Create a new Portfolio",new_portfolio_url, class: 'btn btn-outline-success' %>
    	<% end %>
    	<hr>
      <div class="row sortable">
			   <%= render partial:'portfolio_item' ,collection: @portfolio_items %>
      </div>

      <%= paginate @portfolio_items %>
    </div>
  </div>
 
