<h1>關於我 About Me</h1>


<div class="row">
	<div class="col-md-4">
		<%= image_tag "portfolio.jpg", width: 200, alt: 'Portfolio Image' %>
	</div>
	<div class="col-md-8">
		<p>我是一名程式設計師，目前服務於佐登妮絲股份有限公司，喜歡新的事物與研究新的技術，喜歡攝影。</p>


		<h3>經歷</h3>
		<p>2016/01 - 進入佐登妮絲股份有限公司</p>	
		<p>2016/06 - 國立屏東大學畢業</p>	

		<h3>作品</h3>
	</div>
</div>

