

<hr>

<div class= "row">
	<div class = "col-md-6">
		<h1>聯繫方式</h1>
		<h5>地址 : 台中市北區進化路641號3F</h5>
		<h5>手機 : <%= number_to_phone "0966683139"%></h5>
		<h5>email :<a href="mailto: a151815058@gmail.com?subject=PortfolioContact"> a151815058@gmail.com</a> </h5> 
	</div>
	<div class = "col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.3082208872315!2d120.69178731505478!3d24.16092098438858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346917e1e55b1229%3A0x56d7ac7d8e8b7480!2zNDA05Y-w5Lit5biC5YyX5Y2A6YCy5YyW6LevNjQx6Jmf!5e0!3m2!1szh-TW!2stw!4v1574863162231!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>
