<main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to My Website</h1>
    <p class="lead">這是一個由Ruby on Rails為基礎所開發的個人網站</p>
    <p class="lead">
      <%= link_to 'About Me', about_path, class: "btn btn-lg btn-secondary"  %>
    </p>
</main>




